# Go-specific ignores
#*.exe
#*.exe~
*.dll
*.so
*.dylib
*.test
*.out
#yt_downloader

# Project-specific ignores
bin/
links.txt
*.mp3
*.mp4
*.webm
*.srt
*.zip

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp
*.bak

# Go build cache and module cache
go.sum
vendor/
*.prof
*.cover

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db
desktop.ini
